	   
       <section id="banner">
       		<% flash.each do |key, value| %>
			  <%= content_tag :div, value, class: "flash #{key}" %>
			<% end %>
            <div class="container">
             
              <div class="menu">
                <%= image_tag "menu-roxo.png" %>
              </div>
              <h1>Henrique Costa</h1>
              <h2>Full Stack Web Developer</h2>
            </div>

       </section>

       <div class="head">
         <div class="container">
          <!--  <div class="menu">
             <%= image_tag "menu-branco.png" %>
           </div> -->
           <div class="title">Henrique Costa <span>Full Stack Web Developer</span></div>
           <!-- <button id="btn-contato">Entre em contato</button> -->
         </div>
       </div>

       <section id="sobre">
           <div class="container">
              <div class="foto">
                 <div class="pic">
                  <%= image_tag "picture.png" %>
                 </div>
                 <a href="tel:+5561999523424" class="tel"> <i class="fa fa-mobile"></i> (61) 9 9952-3424 </a>
                 <a href="mailto:contato@henriquecosta.com" class="mail"> <i class="fa fa-envelope"></i> contato@henriquecosta.com </a>
             </div>
               <div class="texto">
                   <p>Olá, meu nome é <span>Henrique Gonsalves Costa</span>, tenho 25 anos e moro em Brasília/DF. Sou Desenvolvedor Web há 4 anos. Possuo bastante experiência criação de sites e aplicações Web. Já tive experiência também com criação de Aplicativos Mobile e Prototipação de Soluções Web/Mobile.</p>
                   <p>Sou estudante de <span>Engenharia de Software</span> e vou me formar em 2019. </p>
                   <p>Gosto muito de empreender apesar de ainda não ter atingido o sucesso financeiro, consegui muito crescimento pessoal. Me considero uma pessoa de boas idéias e capacidade para ajudar a criar negócios e empresas.   Possuo experiência com Marketing Digital, pois trabalhei como <span>Desenvolvedor Web</span> por 3 anos em uma agência digital chamada <span><a target="_blank" href="http://www.agencialooknfeel.com.br">Look’n Feel</a></span>. Adquiri também conhecimentos em Redes Sociais, Search Engine Optimization (SEO), Landing Pages e Design.</p>
                   <p>Trabalhei por 3 meses como <span>Analista de BI Junior</span> na <span><a target="_blank" href="http://www.dwbrasil.com.br">DW BRASIL</a></span>, empresa parceira de <span><a target="_blank" href="http://www.ibm.com">IBM</a></span> especializada em Business Intelligence.</p>
                   <p>Atualmente estou trabalhando na <a target="_blank" href="http://www.aistech.com.br"><span>AIS Tecnologia de Informação</span></a> como <span>Desenvolvedor Back-end</span> atuando em apps como: <a href="http://www.aulaup.com.br/" target="_blank">AulaUP</a> e <a href="http://dokter.com.br/" target="_blank">Dokter</a></p>
               </div>

               

               
           </div>
       </section>


       <section id="habilidades">
           <div class="container">
               <h1>Habilidades</h1>

               <div class="hab frontend">
               		<div class="texto">
                       <h3>Desenvolvedor Front-end</h3>
                       <p>O desenvovimento front-end é basicamente transformar o design gráfico em código para que o navegador seja capaz de apresentar para o usuário. Para isso utilizo as mais renomadas ferramentas do mercado. Possuo experiência em melhorar o tempo de carregamento de páginas e adaptação de sites desktop para sites que funcionam em todos os dispositivos do mercado. Com isso o resultado é totalmente voltado para acessibilidade e performance.</p>
                   </div>
                   <div class="image">
             			<%= image_tag "frontend_icons.png" %>
                   </div>
                   
               </div>

               <div class="hab backend">
               		<div class="texto">
                       <h3>Desenvolvedor Back-end</h3>
                       <p>O desenvolvimento back-end é onde entra a programação da aplicação. É onde nos preocupamos com o funcionamento do sistema e armazenamento dos dados.  </p>
                       <p>Tenho experiência com: Express (NodeJS), Wordpress e Zend (PHP) e Ruby on Rails</p>
                   </div>
                   <div class="image">
                       <%= image_tag "backend_icons.png" %>
                   </div>
                   
               </div>

               <div class="hab mobile">
               		 <div class="texto">
                       <h3>Desenvolvedor de Aplicativos Mobile</h3>
                       <p>Desenvolvimento de Aplicativos Hibridos, permitindo funcionar em praticamente todos os modelos de smartphones do mercado. Para isso utilizo um framework Javascript chamado Ionic 2. Além do aplicativo possuo conhecimento para fazer a integração com um webserver e garantir a comunicação entre sistemas.</p>
                   </div>
                   <div class="image">
                       <%= image_tag "mobile_icons.png" %>
                   </div>
                  
               </div>

               <div class="hab database">
               		<div class="texto">
                       <h3>Banco de Dados</h3>
                       <p>Tenho capacidade de modelar de banco de dados para aplicações e adquiri conhecimento sobre modelagem dimensional, voltada para área de BI. Tenho também experiência em MongoDB, que é um banco de dados NOSQL.</p>
                   </div>
                   <div class="image">
                       <%= image_tag "database_icons.png" %>
                   </div>
                   
               </div>

                <div class="hab cognos">
                	<div class="texto">
                       <h3>IBM Cognos Analytics</h3>
                       <p>Criação de relatórios de BI interativos utilizando a ferramenta Cognos Analytics 11.0.6 e Cognos 10.2.2</p>
                   </div>
                   <div class="image">
                       <%= image_tag "cognos_icons.png" %>
                   </div>
                  
               </div>

               
               <div class="hab ux">
                	<div class="texto">
                       <h3>UI/UX Designer</h3>
                       <p>Tenho também capacidade de criar a parte gráfica das interfaces de sites e aplicativos. Utilizo para criação das interfaces o Photoshop e o Sketch. Além de somente criar a interface, faço um trabalho para entender o projeto e ter um resultado totalmente voltado para experiência do usuário.</p>
                   </div>
                   <div class="image">
                       <%= image_tag "ux_icons.png" %>
                   </div>
                  
               </div>

           </div>
       </section>

       <section id="portfolio">
           <div class="container">
               <h1>Portifólio</h1>

               <div class="works">
                    <a href="http://www.sensei.poker" target="_blank" class="work sensei">
                       <ul>
                           <li>Web Design</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Backend (Node.js)</li>
                           <li>Pagamento Online Recorrente</li>
                       </ul>
                    </a>
                    <a href="http://www.agencialooknfeel.com.br" target="_blank" class="work lnf">
                        <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Wordpress</li>
                       </ul>
                    </a>
                    <a href="http://www.viaapia.com.br" target="_blank" class="work viaapia">
                       <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Wordpress</li>
                       </ul>
                    </a>
                    <a href="http://www.pousadacamelot.com.br" target="_blank" class="work camelot">
                       <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Wordpress</li>
                       </ul>
                    </a>
                    <a href="https://gentle-shelf-8994.herokuapp.com" target="_blank" class="work suabiblioteca">
                       <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                       </ul>
                    </a>
                    <a href="http://catarata.visaoinstitutos.com.br" target="_blank" class="work visao">
                       <ul>
                           <li>Landing Pages</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Backend</li>
                           <li>Prototipação</li>
                       </ul>
                    </a>
                    <a href="http://www.ikhon.com.br" target="_blank" class="work ikhon">
                       <ul>
                           <li>Web Design</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Wordpress</li>
                       </ul>
                    </a>
                    <a href="http://www.vantago.com.br" target="_blank" class="work vantago">
                       <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Backend (Wordpress/Zend Framework)</li>
                           <li>Aplicativo Mobile (Ionic.js)</li>
                       </ul>
                    </a>
                    <a href="http://www.institutoverbalize.com" target="_blank" class="work verbalize">
                       <ul>
                           <li>Prototipação</li>
                           <li>FrontEnd Responsivo</li>
                           <li>Wordpress</li>
                       </ul>
                    </a>
               </div>


           </div>
       </section>

        <section id="contato">
           <div class="container">
               <h1>Contato</h1>
               <h3>Gostou? Entre em contato.</h3>

               	<%= form_for @contact, url: {controller: "contacts", action: "create"} do |f| %>
					<%= f.label :name, 'Nome:' %>
					<%= f.text_field :name, :required => true %>

					<%= f.label :phone, 'Telefone:' %>
					<%= f.text_field :phone, :required => true %>

					<%= f.label :email, 'E-mail:' %>
					<%= f.text_field :email, :required => true %>

					<%= f.label :company, 'Empresa:' %>
					<%= f.text_field :company, :required => true %>

					<%= f.label :message, 'Mensagem:' %>
					<%= f.text_area :message, size: "60x12", :required => true %>

          <%= f.invisible_captcha :subtitle %>

					<%= f.submit "ENVIAR" %>
				<% end %>

           </div>
        </section>
        
       