<section id="login">
   <div class="container">
      <h1>Log in</h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       
          <%= f.label :email, 'E-mail:' %><br />
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :password, 'Senha:' %><br />
          <%= f.password_field :password, autocomplete: "off" %> 
          <%= f.submit "Log in" %>
       
      <% end %>


   </div>
</section>


