// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset"
@import "compass"
@import "compass/css3"

@import "font-awesome-sprockets"
@import "font-awesome"



@import "utils/_mediaQueries"
@import "utils/_colors"




*
	+box-sizing(border-box)
	font-family: 'Open Sans', sans-serif

body
	font-family: 'Open Sans', sans-serif

a
	text-decoration: none

.container
	display: block
	width: 1200px
	max-width: 95%
	margin: 0 auto
	+clearfix

section#banner
	background: url('<%= asset_path 'banner.jpg' %>') center no-repeat
	background-size: cover
	background-attachment: fixed
	min-height: 100vh

	.flash.notice
		width: 100%
		text-align: center
		padding: 20px 0px
		font-weight: 700
		background: rgba(255,255,255,0.9)
		color: $roxo

	.container 
		position: relative
		text-align: center
		padding-top: 30px

		.menu
			position: absolute
			left: 0
			top: 40px
			display: none
			cursor: pointer
			
			img
				+transition(0.3s ease-out)

			&:hover
				img
					+transform(rotate(180deg) scale(1.2))
				

	h1
		font-size: 50px
		color: $roxo
		font-weight: 700
		margin-top: 30px
		margin-bottom: 10px

	h2
		font-size: 29px 
		color: $roxo
		font-weight: 300

div.head
	background: $roxo
	padding: 5px 0px
	border-bottom: 3px solid white

	div.menu
		float: left
		width: 20%
		+opacity(0)

		img
			margin-top: 5px
			+transition(0.3s ease-out)
			cursor: pointer

	
			&:hover
			
				+transform(rotate(180deg) scale(1.2))
				



	button#btn-contato
		float: right
		width: 20%
		background: $amarelo
		height: 40px
		border: 1px solid $amarelo
		outline: none
		+border-radius(3px)
		font-weight: 300
		font-size: 15px
		color: white
		cursor: pointer

		+transition(0.3s ease-out)

		&:hover
			background: darken($amarelo, 10%) 





	div.title
		color: white
		// width: 58%
		width: 100%
		text-align: center
		float: left
		line-height: 40px
		font-weight: 700

		span
			font-weight: 200
			color: white

section#sobre
	background: url('<%= asset_path 'bg-sobre.png' %>') white center no-repeat
	background-attachment: fixed
	background-size: auto 100%
	min-height: 70vh
	padding: 30px 0px

	.container
		max-width: 70%

	h1
		font-size: 40px
		color: $roxo
		text-align: center
		font-weight: 700
		margin-bottom: 60px
	
	.foto
		width: 30%
		float: left
		text-align: center

		a
			display: block

		.tel, .mail
			background: $roxo
			color: white
			padding: 10px
			+border-radius(5px)
			margin: 10px 0px
			font-size: 13px
			line-height: 20px

		.tel
			i
				font-size: 18px
				margin-right: 5px

		.mail
			i

				margin-right: 5px

			

	.texto
		width: 65%
		float: right

		p
			margin: 20px
			line-height: 1.3
			color: $roxo

			span
				font-weight: 600
				color: $roxo

			a
				font-weight: 600
				color: $roxo

				&:hover
					background: none
					text-decoration: underline

					
section#habilidades
	background: $roxo
	padding: 20px 0px

	.container
		width: 100%
		max-width: 100%
	h1
		color: white
		text-align: center
		font-weight: 700
		font-size: 40px
		margin: 40px 0px

	.hab
		background-size: cover
		padding: 30px 20px
		+clearfix
		color: $roxo
		margin: 30px 0px
		+transition(0.3s ease-out)


		h3
			font-weight: 600
			color: $roxo
			font-size: 20px

		p
			font-size: 15px
			line-height: 1.3
			margin: 15px 0px

		&:hover
			+box-shadow(0px 0px 25px #fff)
			.image img
				+transform( scale(1.05) )

		.image
			float: right
			width: 30%
			text-align: center
			display: block
			img
				max-width: 50%
				max-height: 150px
				+transition(0.3s ease-out)

		.texto
			float: left
			width: 70%
			padding-left: 10%
			padding-right: 5%

		&.frontend
			background-image: url('<%= asset_path 'bgs/frontend.png' %>')

		&.backend
			background-image: url('<%= asset_path 'bgs/backend.jpg' %>')



		&.mobile
			background-image: url('<%= asset_path 'bgs/mobile.png' %>')

		&.cognos
			background-image: url('<%= asset_path 'bgs/cognos.png' %>')


		&.database
			background-image: url('<%= asset_path 'bgs/database.jpg' %>')


		&.ux
			background-image: url('<%= asset_path 'bgs/ux.jpg' %>')


section#portfolio
	padding: 40px 0px
	.container
		width: 1024px
		padding: 10px


		h1
			font-size: 40px
			font-weight: 700
			text-align: center
			color: $roxo
			margin: 20px 0px

		.works
			margin-bottom: 40px
			padding: 20px 0px

			+clearfix
			.work
				width: 32%
				
				margin: 10px 0.5%
				height: 290px
				float: left
				background-color: #ddd
				+border-radius(10px)
				+transition(0.3s ease-out)
				cursor: pointer
				border: 2px solid white
				position: relative
				color: white
				background-position: top center
				background-size: cover

				&:after
					content: '+ VISITE O TRABALHO'
					position: absolute
					font-weight: 700
					bottom: -1px
					right: 0px
					color: $roxo
					width: 100%
					height: 50px
					background: white
					text-align: center
					line-height: 50px
					opacity: 0
					+border-radius(0px 0px 9px 9px)
					+transition(0.3s ease-out)

				&:hover
					+box-shadow(0px 0px 10px rgba(72, 47, 148, 0.49))
					+scale(1.02)

					&:after
						opacity: 1

				ul
					margin-top: 90px
					padding: 0px 20px
					

					li
						line-height: 1.5
						&:before
							content: '- '

				&.sensei
					background-image: url('<%= asset_path 'sensei.jpg' %>')

					&:after
						background: #FF0000
						color: white
				&.lnf
					background-image: url('<%= asset_path 'lnf.jpg' %>')
					color: #EB510A

					&:after
						background: #EB510A
						color: white
				&.viaapia
					background-image: url('<%= asset_path 'viaapia.jpg' %>')

					color: #A3161A

					&:after
						background: #A20C12
						color: white

					

					

				&.camelot
					background-image: url('<%= asset_path 'camelot.jpg' %>')
					&:after
						background: #222222
						color: white
					


				&.suabiblioteca
					background-image: url('<%= asset_path 'suabiblioteca.jpg' %>')
					color: #535353

					&:after
						background: #609AD3
						color: white

					
					
				&.visao
					background-image: url('<%= asset_path 'visao.jpg' %>')
					color: #535353

					&:after
						background: #023D6F
						color: white

					
					

				&.ikhon
					background-image: url('<%= asset_path 'ikhon.jpg' %>')

					&:after
						background: #197CC3
						color: white

					
					

				&.vantago
					background-image: url('<%= asset_path 'vantago.jpg' %>')

					&:after
						background: #32719D
						color: white

					
					

				&.verbalize
					background-image: url('<%= asset_path 'verbalize.jpg' %>')
					color: #021C62

					&:after
						background: #021B5E
						color: white
					


section#contato, section#login
	background: $roxo
	color: white
	padding: 40px 0px

	&#login
		min-height: 100vh

	h1
		font-size: 40px
		text-align: center
		font-weight: 700

	h3
		font-size: 25px
		font-weight: 300
		text-align: center

		margin-bottom: 20px
		line-height: 1.4

	form
		width: 80%
		max-width: 785px
		margin: 0 auto
		display: block

		label
			display: block
			font-size: 20px
			font-weight: 100


		input, textarea
			width: 100%
			height: 50px
			background: #23164D
			border: 1px solid #473388
			margin: 5px 0px 10px 0px
			padding: 5px
			color: white
			font-weight: 300
			font-size: 14px
			+box-sizing(border-box)

			&:focus
				border-color: #665a8e 
				outline: none

		textarea
			height: 250px
			resize: none

		input[type="submit"]
			background: $amarelo
			border: 1px solid $amarelo
			outline: none
			+border-radius(3px)
			font-weight: 300
			color: white
			font-size: 20px
			padding: 0px 20px
			display: block
			margin: 10px auto
			width: 50%
			cursor: pointer
			+transition(0.3s ease-out)
			line-height: 30px

			&:hover
				background: darken($amarelo, 10%) 

+media-query(large)
	section#sobre
		.foto, .texto
			float: none
			display: block
			width: 100%

			p
				margin: 20px 0

+media-query(medium)
	section#banner
		display: none

	section#sobre
		background-size: auto 70%

	div.head
		div.title
			line-height: 1.6
			span
				display: block
		button#btn-contato
			display: none
	section#banner
		h1
			font-size: 40px

		h2
			font-size: 30px

	

	section#habilidades .hab
		.image, .texto
			float: none
			display: block
			width: 100%

		.image
			margin: 30px 0px

	section#portfolio
		.container
			.works .work
				width: 47%
				margin: 10px 1.5%

+media-query(small)
	section#portfolio
		.container
			.works .work
				width: 100%
				margin: 10px 0
		


