

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Henrique Costa - Full Stack Developer</title>
        <meta name="description" content="">
        <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Importando fonte "Source Sans Pro" - Regular, Light, Bold -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        
        <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>

	    <%= yield %>
<!-- 
	    <script src="js/jquery.js"></script>
        <script src="js/validate.js"></script>
        <script src="js/app.js"></script>
 -->
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
       <!--  <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    
  	</body>
</html>
